{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "rules": {
    "default-case": 2,
    "eqeqeq": 2,
    "no-console": 0,
    "no-unused-vars": 1,
    "quotes": [2, "single", "avoid-escape"],
    "strict": [2, "global"],
    "yoda": [2, "never"]
  }
}